@model List<CCMS.Models.Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees</h1>
<p><a asp-controller="Employee" asp-action="Add">Add Employee</a></p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Hire Date</th>
        <th>Management Unit</th>
    </tr>
    <tbody id="Employees">
        @foreach (var employee in Model)
        {
            <tr>
                <td><a asp-controller="Employee" asp-action="View" asp-route-id=@employee.Id>@employee.Id</a></td>
                <td>@employee.FirstName</td>
                <td>@employee.MiddleName</td>
                <td>@employee.LastName</td>
                <td>@employee.HireDate.Date.ToString("yyyy-MM-dd")</td>
                <td>@employee.ManagementUnit.Name</td>
            </tr>
        }
    </tbody>
</table>